@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  font-family: "Alata", sans-serif;
  font-style: normal;
}



/* Navbar style */

.navbar {
  background: #E8E8E8;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.navbar form {
  background: #F1F5FE;
  border-radius: 10px;
}

.navbar .search {
  border: none;
  background: none;
}



/* Home page style */
.hero-section{
  background-image: url('assets/home/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-section .container > .d-flex{
  width: 40%;
  padding-left: 50px;
}

.hero-section .btn {
  background: #B75417;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
}

.hero-section .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.home>p {
  color: #656967;
}

.collection .btn{
  background: #B75417;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
}

.collection .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.collection{
  width: 100%;
  overflow: hidden;
  background: #EAE9E5;
}

.collection .right-part{
  background-image: url(./assets/home/collect-right.png);
  background-size: cover;
  background-position: center;
}

.collection .right-part > div .best{
  background: #107252;
  color: white;
  width: fit-content;
  padding: .3rem 1.5rem;
}

.plates-section{
  width: 100%;
  overflow: hidden;
  background: #FFF3E9;
}

.plates-section .right{
  text-align: left !important;
}

.plates-section .btn{
  background: #B75417;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
}

.plates-section .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.plates-section .party{
  color: #107252;
  letter-spacing: 5px;
}

.sugarcane{
  width: 100%;
  overflow: hidden;
}

.sugarcane .left{
  background-image: url('./assets/home/sugarcane_bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.sugarcane .left .btn{
  background: #B75417;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
}

.sugarcane .left .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.shipping-delivery{
  width: 100%;
  overflow: hidden;
  background-color: #F4F4F4;
}


/* About page style */

.about{
  background-image: url('./assets/about/About_bg.png');
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.about-section{
  background-image: url('./assets/about/aboutus.png');
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.about-section .btn{
  width: fit-content;
  background: #B75417;
  box-shadow: 0px 2px 2px 2px rgb(252, 190, 152);
  color: white;
}

.about-section .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.leader > p{
  letter-spacing: 10px;
  font-size: 14px;
}

/* Contact page style */

.contact .btn{
  background: #B75417;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.contact .btn:hover{
  background: #107252;
  color: white;
  border-radius: 0px !important;
  width: fit-content;
  border: none;
}

.gallery{
  width: 100%;
  overflow: hidden;
}